# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# M$VC
*.opendb
*.db

# Others
Makefile
bin/
lib/
obj/
vc90prj/Debug/
vc90prj/Release/
vc90prj/Lib/
vc11prj/Debug/
vc11prj/Release/
vc11prj/Debug32/
vc11prj/Release32/
vc11prj/Debug64/
vc11prj/Release64/
vc11prj/Lib/
vc11prj/x64
vc11prj/Includes/
.vs
*.depend
*.layout
*.cscope_file_list
*.zip
